In [2]:
import pandas as pd  # work with data as table
import numpy as np  # use number matrices
import matplotlib.pyplot as plt
import tensorflow as tf

In [7]:
# step 1 is load data
dataframe = pd.read_csv("tensorflow/predicting-housing-prices/data.csv")  # dataframe object  # removed the features we don't care about
dataframe = dataframe.drop(['index', 'price', 'sq_price'], axis=1)
# only use the first 10 rows
dataframe = dataframe[0:10]
dataframe

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>area</th>
      <th>bathrooms</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2104.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1600.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2400.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1416.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3000.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1985.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1534.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1427.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1380.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1494.0</td>
      <td>3.0</td>
    </tr>
  </tbody>
</table>
</div>